@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --secondary-color: #8588D6;
    --primary-color: #4045B4;
    --button: #C7C7C7;
    --buttonHover: #6064C8;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Open sans', sans-serif;
    line-height: 1.5em;
    color: var(--fonte);
}

.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100vw;
    overflow: hidden;
}

.container-um {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: var(--primary-color);
    min-height: 100dvh;
    padding: 20px;
}

.container-dois {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: var(--button);
    padding: 20px;
    min-height: 100dvh;
}

form {
    margin-top: 25px;
}

form label,
form button {
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 20px;
    height: 20px;
    width: 50px;
}

#caracteres {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    padding: 0.5rem;
    border-color: var(--primary-color);
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button,
.copiar {
    border: none;
    color: var(--button);
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    border-color: var(--button);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

form button {
    background-color: var(--primary-color);
}

.copiar {
    background-color: var(--button);
    color: var(--primary-color);
    margin-top: 80px;
    margin-bottom: 80px;
}

form button:hover {
    background-color: var(--buttonHover);
    color: white
}

.copiar:hover {
    background-color: var(--buttonHover);
    color: white;
}

.esconder {
    visibility: hidden;
}

.aparecer {
    visibility: visible;
}

#exibir-simbolos {
    width: 80%;
    height: 30px;
    font-size: large;
    text-align: center;
    letter-spacing: 3px;
    border-radius: 10px;
    border-color: var(--primary-color);
    border-style: solid;
}

.form-group-checkbox,
.form-group-editar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0
}

.form-group {
    margin-bottom: 50px;
}

.container-um h1 {
    margin-bottom: 50px;
    font-size: 2.0em;
    color: var(--button);
}

.senha-gerada {
    position: relative;
    width: 100%;
    height: 70px;
    overflow: hidden;
    /* Garante que nada ultrapasse a caixa */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.senha {
    width: 100%;
    height: 100%;
    font-size: x-large;
    text-align: center;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    letter-spacing: 2px;
}

/* Criando o gradiente nas laterais */
.senha-gerada::before,
.senha-gerada::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px;
    /* Largura do gradiente lateral */
    height: 100%;
    pointer-events: none;
    /* Evita que interfira na interação */
    z-index: 1;
}

/* Gradiente à esquerda */
.senha-gerada::before {
    left: 0;
    background: linear-gradient(to right, rgb(248, 248, 248) 0%, rgba(255, 255, 255, 0) 100%);
}

/* Gradiente à direita */
.senha-gerada::after {
    right: 0;
    background: linear-gradient(to left, rgb(255, 251, 251) 0%, rgba(255, 255, 255, 0) 100%);
}

.barra {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ccc;
    transition: max-height 0.3s ease-out;
}

.barraForca {
    position: absolute;
    left: 0;
    height: 10px;
}

.legenda{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.gerar {
    margin-top: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.input-editar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media(max-width: 500px) {

    .container-um h1 {
        font-size: 2.5em;
        line-height: 60px;
        text-align: center;
        margin-bottom: 120px;
        margin-top: 0;
    }

    .copiar{
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .senha {
        font-size: 15px;
    }

    .senha:focus,
    #exibir-simbolos:focus {
        width: 100vw;
        font-size: 22px;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }

    .senha:focus{
        height: 100%;
        z-index: 3;
    }

    #exibir-simbolos:focus{
        height: 15%;
        z-index: 5;
    }

    /* Quando o input estiver focado, a div senha-gerada assume o mesmo tamanho */
    .senha-gerada:focus-within {
        width: 100vw;
        height: 15%;
        z-index: 4;
        top: 50%;
        left: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
    }

    #exibir-simbolos:focus ~ .overlay {
        opacity: 1;
        visibility: visible;
        z-index: 4;
    }

    .senha-gerada:has(.senha:focus)+.overlay {
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

    .senha-gerada:has(.senha:focus) ~ .copiar {
        position: fixed;
        display: block;
        z-index: 3;
        top: 70%;
        left: 50%;
        transform: translate(-50%);
    }

    #exibir-simbolos {
        margin-bottom: 24px;
        width: 100%;
    }

    label {
        font-size: 20px;
    }

    .senha-gerada::before,
    .senha-gerada::after {
        z-index: 4;
    }
}

@media(max-width: 932px) {
    .form-group {
        margin-bottom: 10px;
    }

    .gerar {
        margin-top: 10px;
    }

    .container-dois {
        padding: 0 20px;
    }

}